.card {
  width: 60px;
  height: 90px;
  background-color: white;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-weight: bold;
  font-size: 1.25rem;
}
#card-grid .card {
  width: 60px;
  height: 90px;
  font-size: 1.5rem;
  border-radius: 8px;
}